.out{
	width: 500px;
	height: 500px;
	border: 10px solid purple;
	/*background-color: grey;*/
	margin: 100px auto;
	border-radius: 30px;
	box-sizing: border-box;
}
.in{
	width: 60px;
	height: 60px;
	background: black;
	margin: 250px;
}