@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
  background-color: #03A350;
  height: 100vh;
  width: 100vw;
}

.pic{
  width: 100%;
  height: 14rem;
  padding: 0.5rem;
}

.imgone, .imgtwo, .imgthree, .imgfour{
  border: 2px solid #6AF1AB;
  border-radius: 5px;
}

.xmas, .NY{
  font-family: 'Mountains of Christmas', cursive;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 4rem;
}

.tale{
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.container{
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(4, minmax(100px, 5fr));
  grid-template-rows: minmax(100px, auto);
  grid-gap: 1rem 2rem;
  grid-template-areas: 
    "links xmas xmas .."
    ".. tale tale .."
    "imgone imgtwo imgthree imgfour"
    "part part part part"
    "NY NY NY NY";
    grid-auto-flow: row;
}

.xmas{
  grid-area: xmas;
  place-self: center;
}

.tale{
  grid-area: tale;
  align-self: center;
  justify-self: center;
}

.imgone{
  grid-area: imgone;
  align-self: center;
  justify-self: center;
}

.imgtwo{
  grid-area: imgtwo;
  align-self: center;
  justify-self: center;
}

.imgthree{
  grid-area: imgthree;
  align-self: center;
  justify-self: center;
}

.imgfour{
  grid-area: imgfour;
  align-self: center;
  justify-self: center;
}

.NY{
  grid-area: NY;
  place-self: center;
}

.links{
  grid-area: links;
  place-self:center;
}

.ul{
  list-style: none;
  margin: 0 auto;
}

.a{
  text-decoration: none;
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
}

.part{
  grid-area: part;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.part a{
  text-decoration: none;
  color: #AD2B1F;
  font-size: 1.2rem;
}

.part a:hover{
  color: #6AF1AB;
}

ul{
  list-style-type: none;
}


@media all and (max-width: 992px) {
  .container{
    margin: 0 2rem;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
      "xmas xmas"
      "links links"
      "tale tale"
      "imgone imgtwo"
      "imgthree imgfour"
      "part part"
      "NY NY";
  }
  .links{
    place-self:center;
  }
}

@media all and (max-width: 768px) {
    .container{
      margin: 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: 
        "xmas"
        "tale"
        "links"
        "imgone"
        "imgtwo"
        "imgthree"
        "imgfour"
        "part"
        "NY";
    }

    .xmas, .NY{
      font-size: 1.5rem;
    }

    .part{
      grid-gap: 0 2rem;
    }
}

@media all and (max-width: 576px) {
    .container{
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap:;
      grid-template-areas: 
        "xmas"
        "tale"
        "links"
        "imgone"
        "imgtwo"
        "imgthree"
        "imgfour"
        "part"
        "NY";
    }

    html{
      font-size: 14px;
    }

    .xmas, .NY{
      font-size: 1.5rem;
    }

    .part{
      grid-gap: 0 2rem;
    }
}