@import url(reset.css);

html{
	font-size: 10px;
}

.page{
	box-sizing: border-box;
}

.header, .footer{
	height: 6rem;
	background-color: #FE1A19;
}

h1{
	color: white;
	line-height: 6rem;
	margin-left: 2rem;
	font-family: Helvetica;
	font-size: 2rem;
}

.mainly{
	text-align: center;
}

.one, .two, .three{
	height: 80rem;
	width: 40rem;
	border: 0.5rem solid #E5E000;
	display: inline-block;
	border-radius: 3rem;
	margin-top: 11.2rem;
	margin-bottom: 11.2rem;
	box-sizing: border-box;
	text-align: left;
}

.two{
	margin: 11.2rem 5rem;
}

h2{
	font-family: Helvetica;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 3.3rem;
	margin-left:3.3rem;
}

h3, .list{
	font-family: Times New Roman;
	font-size: 2rem;
}

h3{
	text-transform: uppercase;
	margin-left: 3.3rem;
	margin-top: 4.1rem;
}

.list{
	margin: 0 3.3rem;
	line-height:2.1rem;
}