* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
  background-color: #F2F2F2;
}

.container{
  display: grid;
  grid-template-columns: minmax(min-content, 2fr) 4fr 4fr minmax(100px, 4fr);
  grid-template-rows: auto;
  grid-gap: 2rem 1rem;
  grid-template-areas: 
    "posts logo logo menu"
    "cont cont cont offer"
    "links links links links"
    "foot foot foot foot";
  grid-auto-flow: row;
}

.logo{
  grid-area: logo;
  place-self: center;
}

.main-menu{
  grid-area: menu;
  align-self: center;
  justify-self: center;
}

.special-offer{
  grid-area: offer;
  align-self: center;
  justify-self: center;
}

.content-area{
  grid-area: cont;
}

.latest-posts{
  grid-area: posts;
  place-self: start;
}

.footer{
  grid-area: foot;
}

.links{
  grid-area: links;
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.one, .two{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a{
  text-align: center;
  text-decoration: none;
  color: #AD221F;
}
/*=== Logo ===*/

.img{
  width: 50%;
}

.logo h1 {
  margin: 0;
}

.logo__link {
  color: #324759;
  text-decoration: none;
  font-size: 2.5rem;
}
/*=== End logo ===*/

/*=== Menu ===*/
.main-menu ul {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  display: flex;
}

.main-menu__item {
  list-style-type: none;
  margin-right: 1rem;
}

.main-menu__item a {
  color: #324759;
  text-decoration: none;
}

.main-menu__item a:hover {
  text-decoration: underline;
  color: #657A8C;
}
/*=== End menu ===*/

/*=== Latest posts ===*/
.latest-posts {
  border: 1px solid #657A8C;
  border-radius: 1rem;
  padding: 1rem;
}

.latest-posts h3 {
  margin-top: 0;
}

.latest-posts-menu {
  padding: 0;
}

.latest-posts-menu__item {
  list-style-type: none;
  margin-top: 0.5rem;
}

.latest-posts-menu__item a {
  color: #8C764D;
}

.latest-posts-menu__item a:hover {
  color: #BFB26F;
}
/*=== End latest posts ===*/
/*=== Main content ===*/
.content-area h2 {
  font-size: 1.8rem;
  margin-top: 0;
}

.content-area p {
  font-size: 1.1rem;
  line-height: 1.5;
}

@media all and (max-width: 992px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "offer logo"
    "cont cont"
    "posts menu"
    "links links"
    "foot foot";
  }

  .main-menu ul{
    flex-direction: column;
  }
}

@media all and (max-width: 768px){
  .container{
    margin:0 1rem;
    grid-template-columns: repeat(2, minmax(min-content, auto));
    grid-gap: auto;
    grid-template-areas: 
    "logo"
    "posts"
    "menu"
    "cont"
    "offer"
    "links"
    "foot";
  }

  .main-menu ul{
    flex-direction: column;
  }
}

@media all and (max-width: 576px){
  .container{
    margin:0 1rem;
    grid-template-columns: minmax(min-content, 1fr));
    grid-gap: auto;
    grid-template-areas: 
    "logo"
    "offer"
    "posts"
    "cont"
    "menu"
    "links"
    "foot";
  }
  html{
    font-size: 12px;
  }
}